@font-face {
    font-family: 'Involve';
    src: url('./src/assets/fonts/involve/Involve-Bold.woff2') format('woff2'),
        url('./src/assets/fonts/involve/Involve-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('./src/assets/fonts/involve/Involve-Regular.woff2') format('woff2'),
        url('./src/assets/fonts/involve/Involve-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('./src/assets/fonts/involve/Involve-Medium') format('woff2'),
        url('./src/assets/fonts/involve/Involve-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: Involve, Inter, sans-serif;
    background-color: #090923;
    scroll-behavior: smooth;
}



body {
    background-image: url("./src/assets/images/background.png");
    background-size: cover;
    color: #fff;
    line-height: 1.6;
}


/* Навигация */

header {
    padding-top: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border: 1px solid white;
    border-radius: 60px;
    
    
}

footer {
    
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9rem;
    padding-top: 150px;
    padding-bottom: 50px;
}


.footer-content {
display: flex;
justify-content: space-evenly;
}

.footer-content--links {
display: flex;
flex-direction: column;
justify-content: space-between;

}
.footer-content--authors {
display: flex;
flex-direction: column;
justify-content: flex-end;
gap: 18px;
}

.footer-content--hselogo {
display: flex;
justify-content: flex-end;
}

.wrapper {
    display: flex;
}

.white{
    color: #080A4C;
    background-color: white;
    border: white solid 1px;
    border-radius: 24px;
    gap: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 16px;
}

.white-border {
    color: white;
    background-color: none;
    border: white solid 1px;
    border-radius: 24px;
    gap: 15px;
    font-size: 16px;
}

.TG {
margin-right: 10px;
margin-top: 10px;
cursor: pointer;
}

.VK {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper-gap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.wrapper-gap--center {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
}

.logo{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo-gap{
    cursor: pointer;
    margin-top: 3px;
}

.text{
    color: white;
    text-decoration: none;
    cursor: pointer;

}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big {
    font-size: xx-large;
}



.container-hor {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.container-hor2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.cards {
    display: flex;
    margin: 15px;
    gap:15px;
    
}

.card {
    padding:15px;
    background-image: url("./src/assets/images/bg-card.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 230px;
    height: 280px;
}

.why-sleep {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
   
}

.features {
    margin-bottom: 200px;
}

.hero {
    margin-bottom: 200px;
    
}

.benefits {
    margin-top: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 96px;
    font-family: "Involve";
    line-height:96px;
    font-weight: 500;
}

h2 {
    font-size: 64px;
    font-family: "Involve";
    font-weight: 500;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 48px;
    font-family: "Involve";
    font-weight: normal;
    line-height: 50px;
}

p {
    font-size: 30px;
    font-family: "Involve";
    font-weight: normal;
}
.p1 {
    font-size: 20px;
    font-family: "Involve";
    font-weight: normal;
}

.p2 {
    font-size: 32px;
    font-family: "Involve";
    font-weight: normal;
}

.p4 {
    font-size: 18px;
    font-family: "Involve";
    font-weight: normal;
}

button {
    font-family: "Involve", Arial;
    font-weight: normal;
    width: 250px;
    height: 58px;
    border: 0 solid;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
    margin: 15px;
}

button:hover {
    border-color: #090923;
    border: 1px solid;;
}

button:active {
background-color: rgb(200,200,200);
}

.stat {font-size: 20px;}

.big {font-size: 96px;}

.cont {
display: flex;
justify-content: center;
}

li {
    list-style-type: none;
        gap:30px;
        padding:20px;
    
}

.grad {
    display: flex;
}

.cta {
    background-image: url("./src/assets/images/bg-slide.png");
    background-repeat:round;
    height:468px;
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
}

.bg-slide {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}



.dog {
    max-width: 100%;
    
}

.left-cont {
  
}

.mini-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.bg-slide_2 {
    background-image: url("./src/assets/images/bg-slide_2.png");
    background-repeat:round;
    width: 672px;
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-left: 30px;
}

.content {
    width: 100%;
}


.extra{
     list-style-type: none;
    gap:30px;
   padding: 20px;
    
}

.left_pad {
    padding-left: 30px;
}


















@media (max-width: 1200px) {

    .container-hor {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
    }
    
    h1{
        font-size: 48px;
        font-family: "Involve";
        line-height:96px;
    }
    
    h2 {
        font-size: 30px;
        font-family: "Involve";
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 34px;
        font-family: "Involve";
        line-height: 50px;
    }
    
    p {
        font-size: 16px;
        font-family: "Involve";
    }
    .p1 {
        font-size: 14px;
        font-family: "Involve";
    }
    
    .p2 {
        font-size: 32px;
        font-family: "Involve";
    }
    
    .p4 {
        font-size: 13px;
        font-family: "Involve";
    }
    
    .cards {
        flex-direction: column;
    }
    
    .stats {
        display: flex;
        flex-direction: column  ;
        align-items: center;    }

        body {
            background-image: url("./src/assets/images/background-m.png");
            background-size: cover;
        
            
        }

        .bg-slide_2 {
            width: 50%;
            height: 450px;

        }

        .container-hor2 {
          flex-direction: column;
          align-items: center
        }

        .cta {
            width:95%;
            height: 95%;
        }

        .footer-content {
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
        }

        .footer-content--authors {
            margin-top: 20px;
        }
        .footer-content--hselogo {
            margin-top: 20px;
        }

       
    }
    img {
        max-width: 100%;
    }

    a {
        text-decoration: none;
        color:black;
    }








@media (max-width: 600px) {


    .mini-text {
        margin:10px;
    }

    .why-sleep {
        margin-left: 10px;
        margin-right: 10px;
    }

  .wrapper-gap--center {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
    
    h1{
        font-size: 35px;
        font-family: "Involve";
        src: url("./src/assets/fonts/involve/Involve-Regular.ttf");
        line-height:40px;
    }
    
    h2 {
        font-size: 20px;
        font-family: "Involve";
        src: url("./src/assets/fonts/involve/Involve-Regular.ttf");
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 25px;
        font-family: "Involve";
        src: url("./src/assets/fonts/involve/Involve-Regular.ttf");
        line-height: 35px;
    }
    
    p {
        font-size: 14px;
        font-family: "Involve";
        src: url("./src/assets/fonts/involve/Involve-Regular.ttf");
    }
    .p1 {
        font-size: 12px;
        font-family: "Involve";
        src: url("./src/assets/fonts/involve/Involve-Regular.ttf");
    }
    
    .p2 {
        font-size: 32px;
        font-family: "Involve";
        src: url("./src/assets/fonts/involve/Involve-Regular.ttf");
    }
    
    .p4 {
        font-size: 13px;
        font-family: "Involve";
        src: url("../Morpheus/src/assets/fonts/involve/Involve-Regular.ttf");
    }
}