@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

  body {margin: 0;}

  h1 {

color: black;
margin:0;
font-family: "Merriweather";
font-weight: 400;
font-size: 64px;
}

h2 {
    display: flex;
color: white;
margin:0;
font-family: "Merriweather";
font-weight: 400;
font-size: 40px;
}

h3{ 
    display: flex;
color: black;
margin:0;
font-family: "Merriweather";
font-weight: 400;
font-size: 40px;
padding-bottom: 20px;

}

h4 {
    display: flex;
    color: #FAAA00;
    margin:0;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 48px;
    padding-bottom: 0px;
    opacity:150%;
    }
.small{
    margin: 0; 
    opacity: 60%;
    color: white;
   
}
    p {
        color: black;
        margin:0;
        font-family: "Merriweather";
        font-weight: 400;
        font-size: 18px;
     }

    .color_text {
        color: #FAAA00;
    }
.header_nav {
    padding: 20px 50px 65px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
    
}

.nav_1
{
    padding: 0;
    color: black;
    display: flex;
    list-style-type: none;
    align-items: center;
    margin:0;
}


.list_2 {
    color: white;
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
    padding:0; 
}

.list_3 {
   flex-direction: column;
   
    
}
.list_4 {
    padding: 0;
    
     
 }
 
.list_5 {
    padding: 0;
    display: flex;
    justify-content: space-between;
    
    
     
 }
 

.li {
    
font-size: 16px;
font-family: "Merriweather";
font-weight: 400;
padding-left: 24px;

}
.li1 {
    font-size: 16px;
    margin: 0;
    font-family: "Merriweather";
    font-weight: 400;
opacity: 100%;
    }
    .li2 {
        font-size: 18px;
        display: flex;
        font-family: "Merriweather";
        font-weight: 400;
        margin: 15px;
        }

.li_1{
    border: none;
    background-color: white;  
    border-radius: 10000px;
    color: black;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.li_2
{
    width: 200px;
    height: 46px;
    border: solid;
    border-color: #FAAA00; 
    background-color: white;  
    border-radius: 10000px;
    color: black;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.li_5 {
    list-style-type: none;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 16px;
}

.button_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 54px;
    border: solid;
    background-color: #1A1B27;  
    color: white;
    border-radius: 10000px; 
    margin-bottom: 38px;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
   

}


.section_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_2 {
height: 464px;
    background-color: #1A1B27;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_3 {
    display: flex;
    justify-content: center;
    height: 658px;
    align-items: center;


}

.section_4 {
    display: flex;
    justify-content: center;
    height: 391px;
    background-color: #F7F7F7;
    align-items: center;

}

.section_5 {
    display: flex;
    justify-content: center;
    height: 674px;
    align-items: center;

}

.section_6 {
    height: 491px;
    background-image: url(../img/back_6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.uslugi {
    

}
.text_1 {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.block {    
    height: 304px;
    width: 1172px;
    
}
.block_3 {
    height:498px;
    width: 1158px;
    display: flex;
   
}

.text{

padding-bottom: 60px;}

.кнопочка {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 268px;
    border: none;
    background-color:#FAAA00;  
    border-radius: 10000px;
    color: black;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    
}

.кнопка {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}


    hr {
        height: 1px;
        background-color: #1A1B27;
        border: none;
        opacity: 20%;

}

.line_5
{
        height: 40px;
        border: none;
        opacity: 0%;
        margin: 0;
}
.arrow {
    margin-right: 20px;
}

.transport
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 123px;
    width: 278px;
    border: none;
    background-color:#1A1B27;  
    color: white;
    border-radius: 8px;
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 18px;   
}
.wrapper {
    width: 1160px;
    height: 221px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrap{
height: 259px;
width: 1160px;
display: flex;
justify-content: space-between;
}

.wrap2{
height: 259px;
width: 1160px;
}
.half_wrap1{
    width: 540px;
    display: flex;
    align-items: center;
}
.half_wrap2{
    width: 540px;
}

.wrapper_5{
width: 1160px;
    height: 518px;
    display: flex;
    flex-direction: column;}

.icon_4 {
    margin-bottom: 10px;
}

